@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    /* font-family: 'Inter', sans-serif; */
    background-color: #f4f4f9;
    /* color: #333;
    line-height: 1.6; */
}

.navbar{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto 20px auto;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 3px gray solid;
}


main{
    display: flex;
    justify-content: space-around;

    h3{
        font-family: Inter;
        padding: 2px 0px;
    }
}


.options{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    height: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 20px;

    #find_input {
        width: 200px;
        height: 25px;
        padding: 5px 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 8px;
        outline: none;
        transition: border 0.3s ease;
    }
    
    #find_input:focus {
        border-color: #4a90e2;
    }

    .select_buttons{
        display: flex;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
    
        #find_button, #reset_button{
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            font-family: Inter;
            border-radius: 8px;
            font-weight: 600;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s;
        }
    
        #find_button {
            background-color: #4a90e2;
        }
        
        #find_button:hover {
            background-color: #357ABD;
        }

        #reset_button {
            background-color: #ff3b30;
        }
        
        #reset_button:hover {
            background-color: #cc2a21;
        }
    }

    #sort_by_decrease_of_price, #sort_by_increase_of_price{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        font-family: 'Inter', sans-serif;
        border-radius: 8px;
        font-weight: 600;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    #sort_by_decrease_of_price, #sort_by_increase_of_price {
        background-color: #ffa500;
        margin-bottom: 10px;
    }
    
    #sort_by_decrease_of_price:hover, #sort_by_increase_of_price:hover {
        background-color: #e69500;
    }

    .priceCount{
        font-family: Inter;
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #555;
    }

    .create_form{
        width: 70%;
        margin: 0 auto;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        text-align: center;
        background-color: #f4f4f9;;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        label{
            margin-top: 5px;
            font-family: Inter;
        }


        .input_block{
            display: flex;
            flex-direction: column;
        }

        #manufacturer_desc_input, #height_desc_input, #price_desc_input, #material_desc_input{
            width: 250px;
            height: 25px;
            padding: 5px 10px;
            font-size: 16px;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;
            transition: border 0.3s ease;
        }

        #manufacturer_desc_input:focus, #height_desc_input:focus, #price_desc_input:focus, #material_desc_input:focus{
            border-color: #4a90e2;
        }

        #submit_btn{
            all: unset;
            width: 100px;
            height: 40px;
            font-family: 'Inter', sans-serif;
            border-radius: 8px;
            font-weight: 600;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s;
            margin: 10px 0px;
        }

        #submit_btn {
            background-color: #4a90e2;
        }
        
        #submit_btn:hover {
            background-color: #357ABD;
        }
    }
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;

    .card_of_tree{
        width: 250px;
        height: 290px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Inter;
        line-height: 1.4;
        border-radius: 5px;
        padding-left: 3px;

        .place_for_img{
            width: 247px;
            border-radius: 7px;
            margin-top: 3px;
        }
    }

    .card_of_tree:hover{
        transform: scale(1.05);
        transition: all 0.5s ease;
    }

    .warnMessage{
        color: red;
        font-size: 16px;
    }
}
