footer{
    background: #F8F8F8;
    padding: 0 159px;

    div{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            color: #848484;
            font-family: Mulish;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
        }
    }

    .stroke{
        margin-top: 26px;
        margin-bottom: 31px;
        border: none;
        border-top: 0.6px solid #C4C4C4;
    }

    .socialMedia{
        display: flex;
        justify-content: center;
        padding: 0;
        padding-bottom: 40px;
        gap: 35px;
    }
}