#find_button, #reset_button, #sort_by_of_price{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-family: Inter;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

#find_button {
    background-color: #4a90e2;
}

#find_button:hover {
    background-color: #357ABD;
}

#reset_button {
    background-color: #ff3b30;
}

#reset_button:hover {
    background-color: #cc2a21;
}

#sort_by_of_price{
    background-color: #ffa500;
}

#sort_by_of_price:hover {
    background-color: #e69500;
}