header{
    display: flex;
    align-items: center;
    margin-top: 35px;
    justify-content: space-around; 
}

.main-navigation ul{
    list-style: none;
    display: flex;

    li{
        margin-right: 35px;
        
        .nav-links{
            text-decoration: none;
            color: #B8BECD;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            /* transition: transform 0.5s ease; */

            span{
                color: #202336;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
            }
        }

        /* .nav-links:hover{
            transform: scale(1.05);
        } */
    }
}


.main-navigation li:last-child {
    margin-right: 0;
}


.buttons{
    display: flex;

    .login, .register{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 44px;
        border-radius: 8px;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
    }

    .login{
        color: #FB8F1D;
        border: #FB8F1D 1px solid;
    }

    .register{
        background: #FB8F1D;
        margin-left: 20px;
        color: #FFF;
    }

    .login:hover {
        background-color: #FB8F1D;
        color: #FFF;
    }
    
    .register:hover {
        background-color: #FFF;
        color: #FB8F1D;
        border: #FB8F1D 1px solid;
    }
}

label {
    display: none;
  }
  
#burger-toggle {
    display: none;
  }

.burger-menu{
    display: none;
}


@media (max-width: 768px) {
    nav, .buttons {
        display: none;
    }

    header {
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        margin-top: 35px;
    }

    label {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
    }

    label::after, label::before, label span {
        position: absolute;
        width: 100%;
        height: 3.5px;
        background-color: orange;
        transition: .3s;
    }

    label::before {
        content: "";
        top: 0;
    }

    label::after {
        content: "";
        bottom: 0;
    }

    label span {
        top: 11px;
    }

    #burger-toggle:checked ~ label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger-toggle:checked ~ label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    .burger-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        align-items: center;
        


        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        pointer-events: none;

        ul{
            list-style: none;
            padding: 0;
        }

        li{
            margin: 25px 0;
            
            .nav-links{
                text-decoration: none;
                color: #B8BECD;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
    
                span{
                    color: #202336;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }

        .buttons{
            display: flex;
            flex-direction: column;

            .register, .login{
                margin-left: 0px;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .login:hover {
                background-color: #FB8F1D;
                color: #FFF;
            }
            
            .register:hover {
                background-color: #FFF;
                color: #FB8F1D;
                border: #FB8F1D 1px solid;
            }
        }
    }

    #burger-toggle:checked ~ .burger-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

@media (max-width: 590px){
    .burger-menu{
        width: 60%;
    }
}
